body {
  background-color: violet;
}

img {
  display: block;
  margin: auto;
  width: 50vw;
  height: auto;
}
p {
  font-size: 24px;
}

@media (min-width: 425px) {
  body {
    background-color: blue;
  }
  p {
    font-size: 14px;
  }
  img {
    width: 100vw;
  }
}

@media (min-width: 768px) {
  body {
    background-color: green;
  }
  p {
    font-size: 18px;
  }
  img {
    width: 70vw;
  }
}

@media (min-width: 1440px) {
  body {
    background-color: red;
  }
  p {
    font-size: 18px;
  }
  img {
    width: 70vw;
  }
}
